/* --- GENERAL --- */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, aside, footer, header, section, main,
button, input {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    text-decoration: none;
}

button, input,
a:hover, .teacher__photo:hover,
.teacher__schedule:hover {
    cursor: url("../../img/cursor.png"), pointer !important;
}

a:hover {
    color: red;
    text-decoration: none;
}

html {
    font-family: "OpenSans", serif;
    background: var(--background-grey);
}

:root {
    --main-dark-blue: #1D1E5F;
    --secondary-dark-blue: #343485;
    --green: #77BF7F;
    --gold: #E1B80D;
    --pink: #FF5986;
    --white: #FFF;
    --background-grey: #EFEFEF;
}

.teacher-wrapper {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1090px;
    padding: 0 20px;
    margin: 0 auto;
}

.button-green {
    background: var(--green);
}

.button-dark-blue {
    background: var(--main-dark-blue);
}

.gender-female {
    width: 12px;
    height: 18px;
}

.email-img {
    width: 20px;
    height: 20px;
}

/* --- HEADER --- */
.header_outer {
    background: var(--white);
}

.header_inner {
    margin: 0 auto;
    max-width: 1065px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 15px;
    background: var(--white);
}

.header__nav {
    display: flex;
    gap: 30px;
}

.header__nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 15px 20px;
    min-width: 270px;
    background: #F8F8F8;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
}

.header_search-img {
    width: 20px;
    height: 20px;
}

.header_search-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #B0B0B0;
    background: #F8F8F8;
    outline: none;
}

.header_nav-user {
    display: flex;
    flex-direction: column;
}

.header_user-teacher {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7C7C7C;
}

.header_user-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: var(--secondary-dark-blue);
}

/* --- ASIDE --- */
aside {
    display: flex;
    flex-direction: column;
    align-items: end;
    background: #FFF;
}

aside img {
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 36px 55px;
    background: #FFF;
    width: 250px;
}

.nav-btn {
    text-align: center;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 5px;
    color: #5B5B5B;
    background: var(--background-grey);
}

.nav-btn_active {
    color: var(--white);
    background: var(--secondary-dark-blue);
}

/* --- MAIN --- */
.main {
    padding: 0;
    margin: 0 15px;
}

.buttons {
    display: flex;
    gap: 16px;
    padding: 16px 0;
}

.teacher-btn {
    color: var(--white);
    border-radius: 5px;
    padding: 4px 20px;
    box-shadow: 4px 4px 4px rgba(132, 132, 132, 0.25);
}

.teacher__main {
    max-width: 780px;
    min-height: 635px;
    background: #FFF;
    border-radius: 10px;
}

.teacher_main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.teacher__photo {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.teacher__photo-img {
    width: 77px;
    height: 77px;
}

.teacher__photo-change {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.teacher__info {
    display: flex;
    flex-direction: column;
}

.teacher__info-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #10082E;
}

.teacher__info-general {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    gap: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5B5B5B;
}

.teacher__info-divider {
    width: 200px;
    height: 1px;
    background: #C7C7C7;
    margin: 8px 0;
}

.teacher__info-email {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #5B5B5B;
}

.teacher__planning {
    background: #FAFFDB;
    border-radius: 10px;
    padding: 20px 36px 20px 32px;
}

.teacher__planning-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher__planning-id,
.teacher__planning-lessons {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #5B5B5B;
}

.teacher__planning-id span,
.teacher__planning-lessons span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5B5B5B;
    padding-left: 12px;
}

.teacher__planning-btn {
    padding: 4px 16px;
    margin-left: 36px;
    background: #FFF;
    border: 1px solid #1D1E5F;
    border-radius: 5px;
}

.teacher__schedule {
    padding-bottom: 5px;
}

.teacher__schedule-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #10082E;
    padding: 0 32px 12px;
}

.schedule {
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding-bottom: 30px;
}

.schedule-row {
    display: flex;
    flex-direction: row;
    padding: 0 32px;
}

.schedule-row-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vmin;
    padding: 4px 0 6px;
}

.schedule-row:nth-child(odd) {
    background: #F8F8F8;
}

.schedule-row__date,
.schedule-row__time,
.schedule-row__name,
.schedule-row__duration,
.schedule-row__type {
    max-width: 140px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #606060;
    overflow-wrap: break-word;
}

.schedule-row__date {
    width: 100px;
}

.schedule-row__name {
    width: 120px;
}

.schedule-row__date div:first-of-type {
    font-weight: 600;
    color: var(--secondary-dark-blue);
}

.schedule-row__type img {
    padding-right: 8px;
}

.schedule-row__date-day {
    min-width: 100px;
    padding-bottom: 4px;
}

/* --- MEDIA --- */
@media (max-width: 1110px) {
    .teacher__main * {
        font-size: 2vmin;
    }

    .schedule-row * {
        font-size: 2vmin;
    }

    .schedule-row-inner {
        overflow-x: scroll;
    }

}

@media (max-width: 800px) {
    .header_outer * {
        font-size: 2vmin;
    }

    .buttons {
        justify-content: center;
    }

    .teacher_main-info {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}

@media (max-width: 600px) {
    .logo img {
        width: 100px;
    }

    .header__nav {
        gap: 10px;
    }

    .header__nav {
        align-items: center;
    }

    .header__nav-search {
        gap: 5px;
        padding: 0 5px;
        min-width: 130px;
        height: 30px;
    }

    input {
        width: 150px;
    }

    .buttons {
        font-size: 2vmin;
    }

}

@media (max-width: 500px) {
    .header_inner {
        padding: 10px 0;
    }

    .buttons {
        gap: 8px;
        padding: 8px 0;
    }

    .teacher-btn {
        padding: 5px 10px;
    }

    .schedule-row {
        padding: 0 1px;
    }

    .teacher__planning {
        display: flex;
        flex-direction: column;
        align-content: start;
        padding: 15px 55px;
    }

    .teacher__planning-lessons {
        display: flex;
        flex-direction: column;
        align-content: start;
    }

    .teacher__planning-id span,
    .teacher__planning-lessons span {
        padding-left: 12px;
    }

    .teacher__planning-btn {
        margin-top: 5px;
        padding: 2px 10px;
        margin-left: 0;
    }

    .schedule-row__date,
    .schedule-row__name,
    .schedule-row__date-day {
        width: 50px;
    }

}

